@import "@/styles/sass/globals.scss";

.section_wrapper {
	padding: 160px 0;
	.wrapper {
		@include styleGrid("width", 10);
		display: flex;
		justify-content: space-between;
		gap: 48px;
		.container_image {
			width: 416px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.texts {
			@include styleGrid("width", 5);
			h3 {
				margin-bottom: 24px;
			}
			p {
				@include styleP("medium");
				margin-bottom: 40px;
			}
			.ctas {
				display: flex;
				gap: 8px;
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.section_wrapper {
		.wrapper {
			@include styleGrid("wrapper");
		}
	}
}
@media screen and (max-width: 768px) {
	.section_wrapper {
		padding: 72px 0;
		.wrapper {
			display: flex;
			flex-direction: column;
			gap: 56px;
			justify-content: space-between;
			.container_image {
				width: 100%;
				max-width: 416px;
				margin-left: auto;
				margin-right: auto;
				img {
					width: 100%;
					height: auto;
				}
			}
			.texts {
				width: 100%;
				.ctas {
					flex-direction: column;
				}
			}
		}
	}
}
