/* ------------------------------------------------- */
/* ******************* VARIABLES ******************* */
/* ------------------------------------------------- */

/*----------  H1  ----------*/
$h1_textsize_desktop: 90px;
$h1_textsize_mobile: 50px;

/*----------  H2  ----------*/
$h2_textsize_desktop: 80px;
$h2_textsize_mobile: 38px;

/*----------  H3  ----------*/
$h3_textsize_desktop: 48px;
$h3_textsize_mobile: 32px;

/*----------  H4  ----------*/
$h4_textsize_desktop: 32px;
$h4_textsize_mobile: 26px;

/*----------  H5  ----------*/
$h5_textsize_desktop: 26px;
$h5_textsize_mobile: 22px;

/*----------  H6  ----------*/
$h6_textsize_desktop: 16px;
$h6_textsize_mobile: 16px;

/*----------  PARAGRAPH BIG  ----------*/
$paragraphBig_textsize_desktop: 20px;

/*----------  PARAGRAPH MEDIUM  ----------*/
$paragraphMedium_textsize_desktop: 16px;

/*----------  PARAGRAPH SMALL  ----------*/
$paragraphSmall_textsize_desktop: 14px;

/*----------  PARAGRAPH TINY  ----------*/
$paragraphTiny_textsize_desktop: 11px;

/*----------  LINK  ----------*/
$linkBig_textsize_desktop: 18px;
$linkMedium_textsize_desktop: 16px;
$linkSmall_textsize_desktop: 14px;
$linkTiny_textsize_desktop: 11px;