@import "@/styles/sass/globals.scss";

.section_wrapper {
	padding: 160px 0;
	background-color: $colorGreyscale_1;
	color: $colorGreyscale_6;
	.wrapper {
		@include styleGrid("width", 10);
		display: flex;
		justify-content: space-between;
		.title {
			h2 {
				color: $colorGreyscale_6;
				margin-bottom: 24px;
			}
			.ctas {
				display: flex;
				gap: 8px;
			}
		}
		.container_questions {
			@include styleGrid("width", 6);
			.question {
				cursor: pointer;
				padding-top: 26px;
				padding-bottom: 26px;
				border-bottom: 1px solid #ffffffb3;
				.question_title {
					@include styleP("big", $colorGreyscale_6);
					display: flex;
					justify-content: space-between;
					.question_icon {
						width: 32px;
						height: 32px;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						svg {
							transform: rotate(180deg);
						}
					}
				}
				.question_body {
					@include styleP("medium", $colorGreyscale_6);
					opacity: 0.7;
					height: 0;
					overflow: hidden;
				}
			}
		}
	}
}
@media screen and (max-width: 1024px) {
	.section_wrapper {
		padding: 72px 0;
		.wrapper {
			flex-direction: column;
			@include styleGrid("wrapper");
			.title {
				.ctas {
					flex-direction: column;
					margin-bottom: 16px;
				}
			}
			.container_questions {
				width: 100%;
				.question {
					padding-top: 24px;
					padding-bottom: 16px;
				}
			}
		}
	}
}
