@import "@/styles/sass/globals.scss";

.section_wrapper {
	background-color: $night;
	h1 {
		color: $colorGreyscale_6;
	}
	p {
		@include styleP("big", $colorGreyscale_6);
	}
	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-height: 800px;
		max-height: 1000px;
		.texts {
			@include styleGrid("width", 7);
			padding-top: 144px;
			padding-bottom: 54px;
			.main_title {
				display: flex;
				flex-direction: column;
				gap: 8px;
				margin-bottom: 24px;
				p {
					@include styleGrid("width", 5);
					opacity: 0.7;
				}
			}
			.premium {
				background-color: $colorGreyscale_1;
				padding: 32px;
				border-radius: 24px;
				@include styleP("medium", $colorGreyscale_6);
				@include styleGrid("width", 5);
				margin-bottom: 72px;
				a {
					font-family: $font_2_bold;
					color: $colorGreyscale_6;
				}
			}
			.container_checkpoints {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 40px;
				.checkpoint {
					display: flex;
					gap: 8px;
					p {
						font-size: 18px;
					}
					img {
						transform: translateY(4px);
					}
				}
			}
		}
		.container_carousels_desktop {
			display: block;
			width: 416px;
			position: relative;
			overflow: hidden;
			.carousel_0 {
				position: absolute;
				left: 216px;
				transform: translateY(1000px);
				img {
					position: absolute;
				}
			}
			.carousel_1 {
				position: absolute;
				left: 0;
				transform: translateY(-316px);
				img {
					position: absolute;
				}
			}
		}
		.container_carousels_mobile {
			display: none;
		}
	}
}
@media screen and (max-width: 1200px) {
	.section_wrapper {
		.wrapper {
			flex-direction: column;
			max-height: none;
			.texts {
				width: 100%;
			}
			.container_carousels_desktop {
				display: none;
			}
			.container_carousels_mobile {
				display: block;
				height: 376px;
				position: relative;
				overflow: hidden;
				.carousel_0 {
					position: absolute;
					top: 0;
					transform: translateX(-186px);
					img {
						position: absolute;
						height: 180px;
						width: auto;
					}
				}
				.carousel_1 {
					position: absolute;
					top: 196px;
					transform: translateX(1100px);
					img {
						position: absolute;
						height: 180px;
						width: auto;
					}
				}
	
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.section_wrapper {
		overflow: hidden;
		.wrapper {
			display: flex;
			flex-direction: column;
			.texts {
				width: 100%;
				padding-top: 144px;
				padding-bottom: 72px;
				.main_title {
					gap: 16px;
					margin-bottom: 40px;
					p {
						width: 100%;
					}
				}
				.premium {
					display: none;
				}
				.container_checkpoints {
					overflow: scroll;
					.checkpoint {
						@include styleGrid("width", 2.5);
					}
				}
			}
		}
	}
}
