@import "@/styles/sass/globals.scss";

.section_wrapper {
	background-color: $colorGreyscale_1;
	padding-top: 72px;
	padding-bottom: 120px;
	position: relative;
	.wrapper {
		padding-top: 160px;
		.slider {
			position: absolute;
			height: 128px;
			margin-bottom: 40px;
			left: 0;
			top: 72px;
			overflow: hidden;
			width: 100vw;
			.slider_container {
				height: 100%;
				.get_app {
					display: flex;
					align-items: center;
					gap: 40px;
					position: absolute;
				}
			}
			p {
				color: $colorGreyscale_6;
				font-family: $font_1_bold;
				font-size: 80px;
				white-space: nowrap;
			}
		}
		.store_links {
			display: flex;
			justify-content: center;
			color: $colorGreyscale_6;
			gap: 32px;
			.divider {
				width: 1px;
				background-color: $colorGreyscale_6;
				opacity: 0.3;
			}
			.ios,
			.google {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 8px;
				.reviews {
					margin-bottom: 16px;
					color: $colorGreyscale_3;
				}
			}
		}
	}
}
