@import "@/styles/sass/globals.scss";

.section_wrapper {
	background-color: $colorGreyscale_1;
	.wrapper {
		@include styleGrid("width", 10);
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		gap: 16px;
		.col_1,
		.col_2,
		.col_3 {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
		.col_1 {
			align-items: flex-end;
		}
	}
}
@media screen and (max-width: 1200px) {
	.section_wrapper {
		.wrapper {
			@include styleGrid("wrapper");
		}
	}
}
@media screen and (max-width: 1024px) {
	.section_wrapper {
		display: none;
	}
}
