@import '@/styles/sass/variables/colors.scss';
@import '@/styles/sass/variables/font-family.scss';
@import '@/styles/sass/common/mixins.scss';
@import '@/styles/sass/common/texts.scss';
@import '@/styles/sass/common/grid-responsive.scss';
@import '@/styles/sass/common/breakpoints.scss';

#section_gallery {
	background-color: $colorGreyscale_1;
	.wrapper_gallery {
		@include styleGrid("width", 10);
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		gap: 16px;
		.col_1,
		.col_2,
		.col_3 {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
		.col_1 {
			align-items: flex-end;
		}
	}
}
@media screen and (max-width: 1200px) {
	#section_gallery {
		.wrapper_gallery {
			@include styleGrid("wrapper");
		}
	}
}
@media screen and (max-width: 1024px) {
	#section_gallery {
		display: none;
	}
}
