/* ------------------------------------------------- */
/* ******************* VARIABLES ******************* */
/* ------------------------------------------------- */

/*----------  PRIMARY  ----------*/
$night: #242c89;
$orange: #b84a0c;

/*----------  SECONDARY  ----------*/
$yellow: #ffd9a0;
$purple: #ebd8f4;
$night-hover: #161c63;

/*----------  GREYSCALE (WHITE THEME)  ----------*/
$colorGreyscale_1: #0f0f0f;
$colorGreyscale_2: #434649;
$colorGreyscale_3: #888c8f;
$colorGreyscale_4: #cdced0;
$colorGreyscale_5: #f5f5f5;
$colorGreyscale_6: #ffffff;

/*----------  GREYSCALE (BLACK THEME)  ----------*/

/*----------  SYSTEM PALETTE  ----------*/
$error: #ff5a5a;
$validation: #22af5c;